
<!DOCTYPE html>

<h1>Edit mi user</h1>

<section>
  <div class="row">
    <form class="col-md-6" ng-submit="usersEdit.update()" name="usersEdit.userForm" novalidate>
      <div class="form-group">
        <label>Username</label>
        <input type="text" class="input form-control" id="username" name="username" ng-model="usersEdit.user.username" value="{{ usersEdit.user.username }}">
      </div>
      <div class="form-group">
        <label>First Name</label>
        <input type="text" class="input form-control" id="firstname" name="firstname" ng-model="usersEdit.user.firstname" value="{{ usersEdit.user.firstname }}">
      </div>
      <div class="form-group">
        <label>Last Name</label>
        <input type="text" class="input form-control" id="lastname" name="lastname" ng-model="usersEdit.user.lastname" value="{{ usersEdit.user.lastname }}">
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="text" class="input form-control" id="email" name="email" ng-model="usersEdit.user.email" value="{{ usersEdit.user.email }}">
      </div>
      <div class="form-group">
        <label>Bio</label>
        <input type="text" class="input form-control" id="bio" name="bio" ng-model="usersEdit.user.bio" value="{{ usersEdit.user.bio }}">
      </div>
      <div class="form-group">
        <label for="base64">Image</label>
        <input type="file" class="form-control" base64 name="base64" id="base64" ng-model="usersEdit.user.base64">
        <img ng-src="{{ usersEdit.user.base64 }}">
      </div>
      <button type="submit" class="btn btn-default">Update</button>
    </form>
  </div>

</section>
