<h1>EDIT MI</h1>

<form class="col-md-6" ng-submit="tripsEdit.update()">
  <h3>Add a new trip</h3>
  <div>
    <label>Name</label>
    <input class="form-control" type="text" ng-model="tripsEdit.trip.name">
  </div>
  <div>
    <label>Country</label>
    <input class="form-control" type="text" ng-model="tripsEdit.trip.country">
  </div>
  <div>
    <label>Info</label>
    <input class="form-control" type="text" ng-model="tripsEdit.trip.info">
  </div>
  <div class="form-group">
    <label for="base64">Image</label>
    <input type="file" base64 name="base64" id="base64" ng-model="tripsEdit.trip.base64">
    <img ng-src="{{ tripsEdit.trip.base64 }}">
  </div>

  <h2>Add Leg to mi trip:</h2>
  <p>Mi trip has {{ tripsEdit.legs.length }} legs!</p>
  <ul>
    <li ng-repeat="leg in tripsEdit.legs">{{ leg.name }} (lat:{{ leg.lat }}, lng:{{ leg.lng}})<button class="btn btn-danger" type="button" ng-click="tripsEdit.deleteLeg(leg)">X</button></li>
  </ul>
  <div class="form-group">
    <label>Place name: </label>
    <input autocomplete class="form-control" type="text" ng-model="tripsNew.newLeg.name" lat="tripsNew.newLeg.lat" lng="tripsNew.newLeg.lng">
  </div>

  <button class="btn btn-primary" type="button" ng-click="tripsEdit.addLeg()">Add an item</button><br>


  <button>Submit</button>
</form>
