<h4>{{ tripsShow.trip.name }}</h4>
<p>{{ tripsShow.trip.country }}</p>
<p>{{ tripsShow.trip.info }}</p>
<img ng-src="{{ tripsShow.trip.image_src }}">
<ul>
  <li ng-repeat="leg in tripsShow.trip.legs">{{ leg.name }} | lat: {{ leg.lat }} lng: {{ leg.lng }} <p>Current weather: {{ leg.weather.currently.temperature }} {{ leg.lat }}</p></li>
</ul>
<google-map legs="tripsShow.trip.legs"></google-map>

<h5>Who's coming with us:</h5>
<ul>
  <li ng-repeat="attendee in tripsShow.trip.attendees">{{ attendee.username }}</li>
</ul>
<button ng-click="tripsShow.toggleAttending()" ng-if="main.isAuthenticated() && !tripsShow.isAttending()">Attend</button>
<button ng-click="tripsShow.toggleAttending()" ng-if="main.isAuthenticated() && tripsShow.isAttending()">Leave</button>
  
