<!DOCTYPE html>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 image-show-box" style="background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url({{ tripsShow.trip.image_src }})">
    <div class="image-show-box-text">
      <h2>{{ tripsShow.trip.name }}</h2>
      <h3>{{ tripsShow.trip.country }}</h3>
      <p>From {{ tripsShow.trip.start_date }} to {{ tripsShow.trip.end_date }}</p>
      <p>Created by: <strong><a ui-sref="usersShow({ id: tripsShow.trip.user.id })">{{ tripsShow.trip.user.username }}</a></strong></p>
      <button ng-if="main.isAuthenticated() && main.currentUserId === tripsShow.trip.user.id" class="btn btn-danger" ng-click="tripsShow.delete()">Delete</button>
      <button ng-if="main.isAuthenticated() && main.currentUserId === tripsShow.trip.user.id" class="btn btn-primary" ui-sref="tripsEdit({ id: tripsShow.trip.id })">Edit</button>
      {{ tripsShow.trip.createdBy }}
    </div>
  </div>
</div>
<div class="container trip-info">
  <div class="row">
    <div class="col-lg-4">
      <h5>Trip info</h5>
      <p>{{ tripsShow.trip.info }}</p>
    </div>
    <div class="col-lg-4">
      <h5>Travel itinerary:</h5>
      <div>
        <p ng-repeat="leg in tripsShow.trip.legs">{{ leg.name }}</p>
      </div>
    </div>
    <div class="col-lg-4">
      <google-map legs="tripsShow.trip.legs"></google-map>
    </div>
  </div>
</div>
<hr>
<div class="container trip-info">
  <div class="row">
    <div class="col-lg-4">
      <h5>Who's coming with us:</h5>
      <div>
        <p ng-repeat="attendee in tripsShow.trip.attendees"><a ui-sref="usersShow({ id: attendee.id })">{{ attendee.username }}</a></p>
      </div>
      <button class="btn btn-primary" ng-click="tripsShow.toggleAttending()" ng-if="main.isAuthenticated() && !tripsShow.isAttending()">Attend</button>
      <button class="btn btn-danger" ng-click="tripsShow.toggleAttending()" ng-if="main.isAuthenticated() && tripsShow.isAttending()">Leave</button>
    </div>
    <div class="col-lg-5">
      <h5>Comments</h5>
      <div class="comments">
        <div class="row comment" ng-repeat="comment in tripsShow.trip.comments">
          <div class="col-3 user-details">
            <div class="profile-img-small" style="background-image:url({{ comment.user.image_src }})"></div>
            <p><small>{{ comment.user.username }}</small></p>
          </div>
          <div class="col-9 comment-content">
            <p>{{ comment.body }}</p>
            <button class="btn delete-comment" ng-click="tripsShow.deleteComment(comment)" ng-if="main.isAuthenticated() && main.currentUser.id === comment.user.id"><i class="fa fa-trash" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <h5>Add Comment</h5>
      <form ng-submit="tripsShow.addComment()">
        <div class="form-group">
          <textarea  class="form-control" type="text" name="body" ng-model="tripsShow.comment.body"></textarea>
        </div>
        <div class="form-group">
          <button class="btn btn-primary">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>
<hr>
<div class="container trip-info">
  <div class="row">
    <div class="col-lg-4">
      <h5>Budget:</h5>
      <p>Peasant budget per day: {{ tripsShow.trip.legs[0].budget.value_budget | number:0}} {{ tripsShow.trip.legs[0].budget.currency_code }}</p>
      <p>Midrange budget per day: {{ tripsShow.trip.legs[0].budget.value_midrange | number:0}} {{ tripsShow.trip.legs[0].budget.currency_code }}</p>
      <p>Posh budget per day: {{ tripsShow.trip.legs[0].budget.value_luxury | number:0}} {{ tripsShow.trip.legs[0].budget.currency_code }}</p>
      <h5>Currency converter: </h5>
    </div>
    <div class="col-lg-4">
      <h5>Weather</h5>

      <div>
        <p ng-repeat="leg in tripsShow.trip.legs">{{ leg.name }} {{ leg.weather.currently.temperature }} &#x2103;  <img height="50px" ng-src="/images/{{ leg.weather.currently.icon }}.png"></p>

      </div>
    </div>
    <div class="col-lg-4">
      <h5>Country facts</h5>
      <p>Flag: <img src="{{ tripsShow.trip.legs[0].facts.flag }}"></p>
      <p>Country Name: {{ tripsShow.trip.legs[0].facts.name }}</p>
      <p>Currency: {{ tripsShow.trip.legs[0].facts.currencies[0].name }}</p>
    </div>
  </div>

</div>
