<!DOCTYPE html>

<section class="about">
  <img src="/images/004-boy-2.png" class="small-icon-auth">
  <h3>Adventurefy!</h3>
  <p>Welcome to the wonderful world of Adventurefy! Here you can plan adventures and find friends to explore the world with.</p>
  <hr>
  <img class="small-icon-auth" src="/images/005-boy-1.png">
  <h3>Create a trip</h3>
  <p>Plan adventures on the the 'Create a trip' page to show off your travel plans to the world. Add a leg for every different location you're planning to visit. Submit your trip to get a sweet intinerary and all the information you need for a trouble free time.</p>
  <hr>
  <img src="/images/007-girl.png" class="small-icon-auth">
  <h3>All the trips</h3>
  <p>Find awesome Adventures made by other users on the 'All the trips' page</p>
  <hr>
  <img src="/images/009-sheriff.png" class="small-icon-auth">
  <h3>Show a trip and leave comments</h3>
  <p>Click on an adventure to find out all the deets about that trip, if you like what you see you can add yourself to that trip and join the creator on a trip of a lifetime. Leave comments to communicate with the other users of Adventurefy!</p>
  <hr>
  <img src="/images/006-boy.png" class="small-icon-auth">
  <h3>Changed your plans? No problem!</h3>
  <p>You can easily edit any trip you've created by visiting the edit page</p>
  <hr>
  <img class="small-icon-auth" src="/images/003-wrestler.png">
  <p>With thanks to Bryan at <a href="http://www.budgetyourtrip.com">budgetyourtrip.com</a> for letting us use their fantastic API!</p>
  <hr>
  <p>Made with <i class="fa fa-heart" aria-hidden="true"></i> at GA London by Alex Cwiek and Nick Cresner</p>
</section>
