<!DOCTYPE html>


  <h3>Login</h3>

<section class="row">

  <form class="col-lg-4 col-md-6" ng-submit="login.submit()" name="login.loginForm" novalidate>
    <img src="/images/002-rich.png">
    <div class="form-group">
      <label for="email">Email</label>
      <input class="form-control" type="email" name="email" id="email" ng-model="login.credentials.email" required>
      <div ng-messages="login.loginForm.email.$error" ng-show="(login.loginForm.email.$invalid)">
        <div class="required" ng-message="required" ng-show="login.loginForm.email.$error.required">Email is required.</div>
        <div class="required" ng-message="email" ng-show="!login.loginForm.email.$error.required">Must be a valid email address.</div>
      </div>
    </div>
    <div class="form-group">
      <label class="label" for="password">Password</label>
      <input class="form-control" type="password" name="password" id="password" ng-model="login.credentials.password" required>
      <div ng-messages="login.loginForm.password.$error" ng-show="(login.loginForm.password.$invalid)">
        <div class="required" ng-message="required" ng-show="login.loginForm.password.$error.required">Password is required.</div>
      </div>
    </div>
    <div class="form-group">
      <button type="button" class="facebook" ng-click="login.authenticate('facebook')"><i class="fa fa-facebook-official" aria-hidden="true"></i> Login with FB</button>
      <input type="submit" class="btn btn-primary" value="Login">
    </div>
  </form>
</section>
