// Import all of your scss files here
.map {
  height: 250px;
  background-color: ghostwhite;
  width: 50%;
  float: right;
}

body{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  form{
    margin: 0 auto;
  }
  ul{
    list-style: none;
  }
}
